

.error {
    color: red;
    font-size: 0.9em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid #3d15cd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4ebbcc;
}

table tr:nth-child(odd) {
    background-color: #f6ff7a;
}

table tr:nth-child(even) {
    background-color: #ea73ff;
}

.action-button {
    background-color: #897a7a;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
